@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html ,
body,
#root {
  width: 100%;
  height: 100%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  touch-action: pan-x pan-y;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* App.css */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-logo {
  animation: rotate 120s linear infinite;
}
.thick-border {
  border: 12px solid black;
}

.typing-effect .cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: currentColor;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blurred-circle {
  background-image: radial-gradient(circle, #cacffa, #c9d4ef 26%, #aed3ff 53%, #9bffa5 74%, #d798e1);
  filter: blur(80px);
  border-radius: 50%;
  z-index: 0;
}
.negative-z {
  z-index: -1;
}

.blurred-circle-free {
  background-image: radial-gradient(circle, #cacffa, #c9d4ef 26%, #aed3ff 53%, #9bffa5 74%, #d798e1);
  filter: blur(40px);
  border-radius: 50%;
  z-index: 0;
}
.blurred-circle-pro {
  background-image: radial-gradient(circle, #caeefa, #b9e0cf 26%, #a0d8ff 53%, #9bd5a5 74%, #b978c1);
  filter: blur(40px);
  border-radius: 50%;
  z-index: 0;
}

.blurred-circle-custom {
  filter: blur(40px);
  border-radius: 50%;
  z-index: 0;
  background-image: radial-gradient(circle, #cad2fa, #c9b4af 26%, #aad1ff 53%, #9ba0a5 74%, #d798b1);
}

@media (max-width: 768px) { /* or another appropriate breakpoint */
  .blurred-circle {
      filter: blur(80px); /* Adjust value based on what looks best on iPhone */
  }
}